<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
     <Appenders>
        <Console name = "LoggingTo" target = "SYSTEM_OUT">
            <PatternLayout>
                <Pattern>
                    %d - %c - [%M] - (%p) - %m - %n
                </Pattern>
            </PatternLayout>
        </Console>

<!--         <File>-->

<!--         </File>-->

<!--         <JDBC>-->
<!--             -->
<!--         </JDBC>-->
     </Appenders>

    <Loggers>
        <Root level = "trace">
            <AppenderRef ref ="LoggingTo" />
        </Root>
    </Loggers>
</Configuration>